@let passwordVisibility = passwordIsVisible();

<main class="flex flex-col gap-y-14 px-31 py-24">
  <app-page-title>Welcome</app-page-title>
  <form class="mx-auto rounded-3xl bg-app-blue-200 flex flex-col gap-y-10 p-16">
    <h2 class="font-playfair-display font-bold text-2xl text-center text-app-blue-600">Let’s get you logged-in</h2>
    <app-form-field variant="fill" class="w-95">
      <input appInput />
      <app-drafts-icon ngProjectAs="form-field-suffix" className="w-6 h-6 fill-current" />
    </app-form-field>
    <app-form-field variant="fill" class="w-95">
      <input [type]="passwordVisibility ? 'text' : 'password'" appInput />
      <button (click)="togglePasswordVisibility($event)"
        class="cursor-pointer h-max" ngProjectAs="form-field-suffix">
        @if (!passwordVisibility) {
          <app-visibility-icon className="w-6 h-6 fill-current" />
        } @else {
          <app-visibility-off-icon className="w-6 h-6 fill-current" />
        }
      </button>
    </app-form-field>
  </form>
</main>