@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');
@import "tailwindcss";
@theme {
  --color-app-white: #ffffff;
  --color-app-gray: #d8d8d8;
  --color-app-blue-100: #d1e2f9;
  --color-app-blue-200: #b6cdea;
  --color-app-blue-300: #a7bed8;
  --color-app-blue-400: #30496a;
  --color-app-blue-500: #003170;
  --color-app-blue-600: #0B1829;

  --font-playfair-display: "Playfair Display", serif;
  --font-questrial: "Questrial", sans-serif;
}

